/* Koko sivun säiliö */
body, html {
  height: 100%;
  margin: 0;
}



/* Pääkontaineri flexillä */
#container {
  display: flex;
  height: 100%;
}

/* Vasemman reunan filter-laatikko */
#filters {
	width: 250px;       /* kuinka leveä filter-laatikko on */
	padding: 10px;
	box-sizing: border-box;
	border-color: #152843;
}

#infoBox {
	border-color: #152843;
  	border-radius: 2rem;
	display:none;
}

#infoBox.visible {
  display: block;
}


#closeInfo {
	cursor:pointer;
}

#searchBox {
	position:absolute;
	top:10px;
	left:10px;
	z-index:1000;
	background:white;
	padding:8px;
	border-radius:8px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	width:220px;
}

#searchInput {
	padding:6px;
	width:100%;
	box-sizing:border-box;
	z-index: 9999;
}

#suggestions {
	list-style:none;
	margin:4px 0 0 0;
	padding:0;
	max-height:150px;
	overflow-y:auto;
}

/* Lista, kun ei tuloksia */
.suggestion-no-results {
  padding: 4px;
  color: #888;
  list-style: none; /* Poistaa mahdolliset pisteet */
}

/* Listaehdotukset */
.suggestion-item {
  padding: 4px 6px;
  cursor: pointer;
  list-style: none;
  background-color: white;        /* määrittele lähtötaustaväri */
  transition: background-color 0.2s; /* pehmeä hover-efekti */
}

/* Hover-tila */
.suggestion-item:hover {
  background: #eee;
}

/* Oikean reunan kartta */
#map {
	flex: 1;           /* vie loput tilasta */
	height: 100%;
}
