* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}

.chapter {
	margin-bottom: 1.2em;
}

.alingn-left-right-flexbox {
	display: flex; 
	justify-content: space-between; 
	text-align: right; 
}

.right-content-flexbox {
  display: flex;
  flex-direction: column;        
}

#container {
  display: flex;
  height: 100%;
  position: relative;
}

.diamond {
	display: inline-block;
	transform: scaleY(1.4);
  font-size: 1.3em;
}

.green  { color: #00aa00; }
.blue   { color: #0066ff; }
.red    { color: #cc0000; }
.black  { color: #000000; }

/* ---Navbar----------------------------------------- */
.navbar-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 11.3em;
	height: 3em;
	background: #152843;
	color: white;
	font-size: 1.5em;
	padding: 0.8em 1em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	z-index: 1000;
	display: flex;
	align-items: center;
  justify-content: space-between;
}

#filter-button {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
	display: none;
}
#filter-button:hover {
  color: #ccc;
}
#filter-button:active {
  color: #aaa;
}

#hamburger-button {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
}
#hamburger-button:hover {
  color: #ccc;
}
#hamburger-button:active {
  color: #aaa;
}

/* ---Filter laatikko----------------------------------------- */
#filterBox {
	width: 17em; 
	max-height: 100%;
	box-sizing: border-box;
	border: 1px solid #152843;
	display: flex;
  flex-direction: column;
	background: white;
	padding-top: 5em
}

#filters-content {
	overflow-y: auto;
	flex-grow: 1; 
  margin-bottom: 0.5em;
	padding: 0.5em;
}

#filterBox fieldset {
  border: none;
  border-bottom: 1px solid #152843;
  margin-bottom: 0.5em;
}

#filterBox legend {
  font-weight: bold;
	font-size: 1.1em;
  color: #152843;
	padding: 0.5em 0;
}

.slider {
  margin-bottom: 1em;
  height: 18px;
	margin: 0.5em 0.4em;
	margin-bottom: 1.5em;
}

.month-container {
  display: flex;
  gap: 2em;
}

.month-column {
  display: flex;
  flex-direction: column;
}

/*
#filterButton {
	background-color: #152843; 
  color: white;              
	font-weight: bold;
  border: none;              
  padding: 10px 20px;        
  border-radius: 13px;       
  cursor: pointer;          
	transition: background 0.2s;
}

#filterButton:hover {
  background-color: #1e375c;
}

#filterButton:active {
  background-color: #0f1a2b;
}
*/

/* ---Info laatikko-----------------------------------------------*/
#infoBox {
	display:none;
	border: 1px solid #152843;
	border-radius: 10px;
	background: white;
	position: absolute;
	left: 17.2em;
	top: 0.2em;      /* 1em marginaali ylhäällä */
	bottom: 0.2em;
	z-index: 1000;
	width: 18em;
	padding: 0.5em;
	padding-top: 0.8em;
	box-sizing: border-box;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	overflow-y: auto;
}

#infoBox.visible {
  display: block;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0.2em;
}

#infoBox fieldset {
	border: none;
  border-top: 1px solid #152843;
  margin-bottom: 0.5em;
}

#infoBox fieldset > * {
  margin-bottom: 0.5em;
}

fieldset h3 {
	font-size: 1.3em;
	margin-bottom: 0.6em;
	margin-top: 0.4em;
}

#run-container {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeInfoButton {
	display: inline-block;
	width: 24px;          
  height: 24px;
	background-color: white;
  border: 1px solid #152843;
	border-radius: 20px;
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	user-select: none;
	position: absolute;
	right: 0.2em;
	top: 0.2em;
	cursor:pointer;
	transition: background-color 0.2s;
}

#closeInfoButton:hover {
  background: #eee;
}


/*---hakulaatikko------------------------------------------*/
#searchBox {
	position:absolute;
	top:0.5em;
	left: 18em;
	z-index:1000;
	background:white;
	padding:8px;
	border-radius:20px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	width:300px;
	border: 1px solid #152843;
}
.info-open #searchBox {
  left: 36em;
}
#searchInput {
	width:100%;
	box-sizing:border-box;
	z-index: 9999;
	border: none;           /* poistaa reunaviivan */
  outline: none;          /* poistaa sinisen korostuksen klikatessa */
  background: transparent;
}
#suggestions {
	list-style:none;
	margin:4px 0 0 0;
	padding:0;
	max-height:150px;
	overflow-y:auto;
}

.no-results {
  padding: 4px;
  color: #888;
  list-style: none;
}

#suggestions li {
  padding: 4px 6px;
  cursor: pointer;
  list-style: none;
  background-color: white;
  transition: background-color 0.2s;
}

#suggestions li:hover {
  background: #eee;
}
#suggestions li p {
	margin: 0
}

#suggestions li .subtext {
  display: inline;
  margin-left: 6px;
  color: #777;
  font-size: 0.9em;
}
#suggestions .list-item {
  display: flex;
  align-items: center; /* keskittää kuvan ja tekstin pystysuunnassa */
  gap: 8px; /* väli kuvan ja tekstin välille */
}
#clear-button {
  border-radius: 50%;
	border: 1px solid #152843;
	color: #152843;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}

#clear-button:hover {
  background-color: #eee;
}

#clear-button:active {
  background-color: #ddd;
}

/*---kartta-----------------------------------------------------------------*/
#map {
	flex: 1;           
	height: 100%;
}

/*---Media-----------------------------------------------------------------*/
@media (max-width: 768px) {
	.navbar-top{
		width: 100%;
	}
	
	#container {
		margin-top: 4em;
		height: calc(100vh - 4em);
	}
	
  #filterBox {
    position: fixed;
    top: 4.5em;
    left: 0;
    right: 0;
    bottom: 0;
		width: 100%;
		max-width: 17em;
    display: none;
		padding-top: 0;
		height: calc(100vh - 4.5em); /* ottaa koko näytön korkeuden */
  }
	#filters-content{
		overflow-y: auto;
	}
  #filterBox.visible {
    display: block;
		z-index: 1000;
  }
	#filter-button {
    display: inline-block;
  }
	
	#searchBox{
		left: 0.5em;
		top: 1em;
		width: calc(100% - 2em);
		z-index: 999;
	}	
	.info-open #searchBox {
  left: 0.5em;
  }
	
	#infoBox {
		position: fixed;
		left: 0;
		width: 100%;
		height: 10em;
		top: auto;
		bottom: -5em;
			
	}
}