body, html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif; 
  font-size: 14px; 
}

#container {
  display: flex;
  height: 100%;
	position: relative;
}

/* ---Filter laatikko----------------------------------------- */
#filters {
	width: 13em; 
	max-height: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	border: 1px solid #152843;
	display: flex;
  flex-direction: column;
	background: white;
}

#filters-content {
		overflow-y: auto;
	  flex-grow: 1; 
    margin-bottom: 0.5em;
}

#filters fieldset {
	border: none;
  border-bottom: 1px solid #152843;  /* laatikon reunus */
}

#filters legend {
  font-weight: bold;
	font-size: 1.1em;
  color: #152843;
	padding-top: 1em;
  
}

#applyFilters {
	background-color: #152843; /* taustaväri */
  color: white;              /* tekstin väri */
	font-weight: bold;
  border: none;              /* reunus */
  padding: 10px 20px;        /* sisämarginaalit */
  border-radius: 13px;        /* pyöristetyt kulmat */
  cursor: pointer;           /* hiiren osoitin */
	transition: background 0.2s;
}

#applyFilters:hover {
  background-color: #1e375c;
}

#applyFilters:active {
  background-color: #0f1a2b;
}

/* ---Info laatikko-----------------------------------------------*/
#infoBox {
	display:none;
	border: 1px solid #152843;
	border-radius: 10px;
	background: white;
	position: absolute;
	left: 13.1em;
	top: 0.1em;      /* 1em marginaali ylhäällä */
	bottom: 0.1em;
	z-index: 1000;

	
}

#infoBox.visible {
  display: block;
}


#closeInfo {
	cursor:pointer;
}


/*---hakulaatikko------------------------------------------*/
#searchBox {
	position:absolute;
	top:10px;
	left:500px;
	z-index:1000;
	background:white;
	padding:8px;
	border-radius:8px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	width:220px;
}

#searchInput {
	padding:6px;
	width:100%;
	box-sizing:border-box;
	z-index: 9999;
}

#suggestions {
	list-style:none;
	margin:4px 0 0 0;
	padding:0;
	max-height:150px;
	overflow-y:auto;
}

/* Lista, kun ei tuloksia */
.suggestion-no-results {
  padding: 4px;
  color: #888;
  list-style: none; /* Poistaa mahdolliset pisteet */
}

/* Listaehdotukset */
.suggestion-item {
  padding: 4px 6px;
  cursor: pointer;
  list-style: none;
  background-color: white;        /* määrittele lähtötaustaväri */
  transition: background-color 0.2s; /* pehmeä hover-efekti */
}

/*Hover-tila */
.suggestion-item:hover {
  background: #eee;
}

/*---kartta-----------------------------------------------------------------*/
#map {
	flex: 1;           /* vie loput tilasta */
	height: 100%;
}
