body, html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}

.alingn-left-right-flexbox {
	display: flex; 
	justify-content: space-between; 
	text-align: right; 
}

.right-content-flexbox {
  display: flex;
  flex-direction: column;        
}

#container {
  display: flex;
  height: 100%;
  position: relative;
}

.diamond {
	display: inline-block;
	transform: scaleY(1.4);
  font-size: 1.3em;
}

.green  { color: #00aa00; }
.blue   { color: #0066ff; }
.red    { color: #cc0000; }
.black  { color: #000000; }

/* ---Filter laatikko----------------------------------------- */
#filterBox {
	width: 15em; 
	max-height: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	border: 1px solid #152843;
	display: flex;
  flex-direction: column;
	background: white;
}

#filters-content {
		overflow-y: auto;
	  flex-grow: 1; 
    margin-bottom: 0.5em;
}

#filterBox fieldset {
  border: none;
  border-bottom: 1px solid #152843;
  margin-bottom: 0.5em;
}

#filterBox legend {
  font-weight: bold;
	font-size: 1.1em;
  color: #152843;
	padding-top: 1em;
  
}

/*
#filterButton {
	background-color: #152843; 
  color: white;              
	font-weight: bold;
  border: none;              
  padding: 10px 20px;        
  border-radius: 13px;       
  cursor: pointer;          
	transition: background 0.2s;
}

#filterButton:hover {
  background-color: #1e375c;
}

#filterButton:active {
  background-color: #0f1a2b;
}
*/

/* ---Info laatikko-----------------------------------------------*/
#infoBox {
	display:none;
	border: 1px solid #152843;
	border-radius: 10px;
	background: white;
	position: absolute;
	left: 15.2em;
	top: 0.1em;      /* 1em marginaali ylhäällä */
	bottom: 0.1em;
	z-index: 1000;
	width: 18em;
	padding: 0.5em;
	padding-top: 0.8em;
	box-sizing: border-box;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	overflow-y: auto;
}

#infoBox.visible {
  display: block;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0.2em;
}

#infoBox fieldset {
	border: none;
  border-top: 1px solid #152843;
  margin-bottom: 0.5em;
}

#infoBox fieldset > * {
  margin-bottom: 0.5em;
}

fieldset h3 {
	font-size: 1.3em;
	margin-bottom: 0.6em;
	margin-top: 0.4em;
}

#run-container {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeInfoButton {
	display: inline-block;
	width: 24px;          
  height: 24px;
	background-color: white;
  border: 1px solid #152843;
	border-radius: 20px;
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	user-select: none;
	position: absolute;
	right: 0.2em;
	top: 0.2em;
	cursor:pointer;
	transition: background-color 0.2s;
}

#closeInfoButton:hover {
  background: #eee;
}


/*---hakulaatikko------------------------------------------*/
#searchBox {
	position:absolute;
	top:0.5em;
	left: 34em;
	z-index:1000;
	background:white;
	padding:8px;
	border-radius:20px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	width:220px;
	border: 1px solid #152843;
}


#searchInput {
	width:100%;
	box-sizing:border-box;
	z-index: 9999;
	border: none;           /* poistaa reunaviivan */
  outline: none;          /* poistaa sinisen korostuksen klikatessa */
  background: transparent;
}

#suggestions {
	list-style:none;
	margin:4px 0 0 0;
	padding:0;
	max-height:150px;
	overflow-y:auto;
}

.no-results {
  padding: 4px;
  color: #888;
  list-style: none;
}

#suggestions li {
  padding: 4px 6px;
  cursor: pointer;
  list-style: none;
  background-color: white;
  transition: background-color 0.2s;
}

#suggestions li:hover {
  background: #eee;
}

/*---kartta-----------------------------------------------------------------*/
#map {
	flex: 1;           
	height: 100%;
}