/* Koko sivun säiliö */
body, html {
  height: 100%;
  margin: 0;
}

/* Pääkontaineri flexillä */
#container {
  display: flex;
  height: 100%;
}

/* Vasemman reunan filter-laatikko */
#filters {
	width: 250px;       /* kuinka leveä filter-laatikko on */
	padding: 10px;
	box-sizing: border-box;
	border-color: #152843;
}

#infoBox {
	border-color: #152843;
  	border-radius: 2rem;
}

/* Oikean reunan kartta */
#map {
	flex: 1;           /* vie loput tilasta */
	height: 100%;
}
